.state.svelte-12nkn9d:hover {
	fill: #80808033;
}
.selectedName.svelte-12nkn9d {
	text-align: center;
	margin-top: 8px;
	font-size: 1.5rem;
}
#flex-contianer.svelte-1fsuwq7 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.svg-container.svelte-1fsuwq7 {
	text-align: center;
	position: relative;
}
.tooltip.svelte-1fsuwq7 {
	position: absolute;
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	pointer-events: none;
	margin-top: 20px;
}
.svelte-bdsaw7 {
	text-align: center;
}
ul.svelte-bdsaw7 {
	text-align: left !important;
}
button.svelte-bdsaw7 {
	background-color: #fff;
	color: #222;
	border: 1px solid #ffffff;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px auto;
}
button.svelte-bdsaw7:hover {
	background-color: #c9c9c9;
	border: 1px solid #c9c9c9;
}
h1.svelte-3lxw9h {
	text-align: center;
	margin-bottom: 10px;
}
p.svelte-3lxw9h,
.button-container.svelte-3lxw9h {
	text-align: center;
	margin-bottom: 20px;
}
.toggle-button.svelte-3lxw9h {
	background-color: #fff;
	color: #222;
	border: 1px solid #ffffff;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	border-radius: 5px;
}
.toggle-button.svelte-3lxw9h:hover {
	background-color: #c9c9c9;
}
.container.svelte-3lxw9h {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
}
.item.svelte-3lxw9h {
	width: 100%;
	max-width: 800px;
}
@media (min-width: 768px) {
	.container.svelte-3lxw9h {
		flex-direction: column;
	}
}
.landscape-message.svelte-3lxw9h {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 2rem;
	color: #c9c9c9;
	text-align: center;
	background-color: #222;
}
#election.svelte-3lxw9h {
	color: #ff7676;
}
#book.svelte-3lxw9h {
	color: #7676ff;
}
